.darkmode {
    background-color: rgb(40, 47, 53)
}

.root {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
}

.menu {
    padding-left: 1em;
    display: grid;
    align-self: center;
}

.submit {
    min-height: 2em;
    min-width: 4em;
    align-self: center;
}

.erase {
    display: grid;
    min-width: 3em;
    max-height: 2em;
    align-self: center;
}

.pick {
    display: flex;
    align-content: center;
}

.output {
    align-self: center;
    text-align: center;
    min-width: 3em;
    min-height: 1em;
    background-color: aquamarine;
}

.drawing {
    outline: solid 1em firebrick;
}
